body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.card {
  background: #020617;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 10px;
}
