body {
  font-family: Arial;
  background: #0f172a;
  color: #e5e7eb;
  padding: 30px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}

.job {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}
